# ANALYZE INTERNATIONAL DEBT STATISTICS

## Team Name : ANALYZER

## Team Member :

- ABDUL JAWEED
- PRATEEK CHAURASIA

## Problem Statement:

It's not that we humans only take debts to manage our necessities. A country
may also take debt to manage its economy. For example, infrastructure spending is one costly ingredient required for a country's citizens to lead comfortable lives. [The World Bank](https://www.worldbank.org/en/home) is the organization that provides debt to countries. 

In this project, you are going to analyze international debt data collected by The World Bank. The dataset contains information about the amount of debt (in USD) owed by developing countries across several categories. You are going to find the answers to questions like: 
- What is the total amount of debt that is owed by the countries listed in the dataset?  
- Which country owns the maximum amount of debt and what does that amount
look like? 
- What is the average amount of debt owed by countries across different debt
indicators? 

The data used in this project is provided by [The World Bank](https://www.worldbank.org/en/home). It contains both national and regional debt statistics for several countries across the globe as recorded from 1970 to 2027.


## Project Tasks

- 1. The World Bank's international debt data
- 2. Finding the number of distinct countries
- 3. Finding out the distinct debt indicators
- 4. Totaling the amount of debt owed by the countries
- 5. Country with the highest debt
- 6. Average amount of debt across indicators
- 7. The highest amount of principal repayments
- 8. The most common debt indicator
- 9. Other viable debt issues and conclusion


## Dataset:

Dataset is available in the given link. You can download as per your convenient.

[International Debt Statistics (IDS) | Data Catalog (worldbank.org)](https://datacatalog.worldbank.org/search/dataset/0038015)

## Approaches:

SQL, Tableau, Power BI or you can use any tools and techniques as per your
convenience. We would appreciate your valid imagination in finding solutions.

### Importing Libraries

In [1]:
import numpy as np
import pandas as pd

### Loading Dataset

In [2]:
allcountry = pd.read_csv("/content/Data/IDS_ALLCountries_Data.csv")
countryseriesmetadata = pd.read_csv("/content/Data/IDS_Country-SeriesMetaData.csv", encoding='latin-1')
countrymetadata = pd.read_csv("/content/Data/IDS_CountryMetaData.csv", encoding='latin-1')
footnotes = pd.read_csv("/content/Data/IDS_Footnotes.csv", encoding='latin-1')
seriesmetadata = pd.read_csv("/content/Data/IDS_SeriesMetaData.csv", encoding='latin-1')

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### Creating a Helper Function

In [4]:
# Printing Top 5 Rows
def head(n):
  return n.head()

# Printing Last 5 Rows
def tail(n):
  return n.tail()

# Printing Random 10 Rows
def sample(n):
  return n.sample(10)

# Printing Total Number of Rows and Columns
def shape(n):
  return n.shape

# Priniting Dataset Information
def info(n):
  return n.info()

# Priniting Dataset Columns Name
def columns(n):
  return n.columns

# Priniting Dataset Statistical Information
def describe(n):
  return n.describe()

### Printing Top 5 Rows

In [5]:
head(allcountry)

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
0,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.OFFT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.PRVT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.DPPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.OFFT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
head(countryseriesmetadata)

,Type,Country Code,Series Code,Description
0,Country-Series,Afghanistan (AFG),"Foreign direct investment, net inflows in repo...",Data on Foreign Direct Investment are based on...
1,Country-Series,Afghanistan (AFG),"External debt stocks, total (DOD, current US$)...","Long-term public and publicly guaranteed, long..."
2,Country-Series,Angola (AGO),"Foreign direct investment, net inflows in repo...",Data on Foreign Direct Investment are based on...
3,Country-Series,Angola (AGO),"External debt stocks, total (DOD, current US$)...",Long-term public and publicly guaranteed debt ...
4,Country-Series,Albania (ALB),"Foreign direct investment, net inflows in repo...",Data on Foreign Direct Investment are based on...

In [7]:
head(countrymetadata)

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,National accounts base year,National accounts reference year,System of National Accounts,SNA price valuation,PPP survey years,Balance of Payments Manual in use,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
0,AFG,Islamic State of Afghanistan,Low income,South Asia,IDA,HIPC,Afghan afghani,1979,"Demographic and Health Survey, 2015",The reporting period for national accounts dat...,2016,NaN,Country uses the 1993 System of National Accou...,Value added at basic prices (VAB),PPPs are imputed for 2011 and 2017 based on a ...,BPM6,Estimate,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,"Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,2000.0,AF,AF,Afghanistan,Afghanistan
1,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,NaN,Albanian lek,2020 (expected),"Demographic and Health Survey, 2017/18",NaN,Original chained constant price data are resca...,2010.0,Country uses the 2008 System of National Accou...,Value added at basic prices (VAB),Rolling surveys (annual estimation),BPM6,Actual,Special trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2018.0,2006.0,AL,AL,Albania,Albania
2,DZA,People's Democratic Republic of Algeria,Lower middle income,Middle East & North Africa,IBRD,NaN,Algerian dinar,2020 (expected),"Multiple Indicator Cluster Survey, 2018/19",NaN,Original chained constant price data are resca...,2012.0,Country uses the 1993 System of National Accou...,Value added at basic prices (VAB),"2017, 2011",BPM6,Actual,Special trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,"Integrated household survey (IHS), 2011",NaN,NaN,2010.0,2017.0,2012.0,DZ,DZ,Algeria,Algeria
3,AGO,People's Republic of Angola,Lower middle income,Sub-Saharan Africa,IBRD,NaN,Angolan kwanza,2014,"Demographic and Health Survey, 2015/16",The World Bank systematically assesses the app...,2002,NaN,Country uses the 1993 System of National Accou...,Value added at basic prices (VAB),"2017, 2011",BPM6,Actual,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,"Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,2005.0,AO,AO,Angola,Angola
4,ARG,Argentine Republic,Upper middle income,Latin America & Caribbean,IBRD,NaN,Argentine peso,2020 (expected),"Multiple Indicator Cluster Survey, 2019/20",The World Bank systematically assesses the app...,2004,NaN,Country uses the 2008 System of National Accou...,Value added at basic prices (VAB),2017,BPM6,Actual,Special trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),"Integrated household survey (IHS), 2016",Yes,2008,2002.0,2018.0,2011.0,AR,AR,Argentina,Argentina

In [8]:
head(footnotes)

,Type,Country Code,Series Code,Time Code,Description
0,FootNote,Afghanistan (AFG),"Foreign direct investment, net inflows in repo...",1970 (YR1970),Source: United Nations Conference on Trade and...
1,FootNote,Afghanistan (AFG),"Foreign direct investment, net inflows in repo...",1971 (YR1971),Source: United Nations Conference on Trade and...
2,FootNote,Afghanistan (AFG),"Foreign direct investment, net inflows in repo...",1972 (YR1972),Source: United Nations Conference on Trade and...
3,FootNote,Afghanistan (AFG),"Foreign direct investment, net inflows in repo...",1973 (YR1973),Source: United Nations Conference on Trade and...
4,FootNote,Afghanistan (AFG),"Foreign direct investment, net inflows in repo...",1976 (YR1976),Source: United Nations Conference on Trade and...

In [9]:
head(seriesmetadata)

,Code,License Type,Indicator Name,Short definition,Long definition,Source,Topic,Dataset,Periodicity,Aggregation method,General comments
0,DT.GPA.DPPG,NaN,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN
1,DT.GPA.OFFT,NaN,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN
2,DT.GPA.PRVT,NaN,Average grace period on new external debt comm...,Grace period is the period from the date of si...,Grace period is the period from the date of si...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN
3,DT.GRE.DPPG,NaN,Average grant element on new external debt com...,The grant element of a loan is the grant equiv...,The grant element of a loan is the grant equiv...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN
4,DT.GRE.OFFT,NaN,Average grant element on new external debt com...,The grant element of a loan is the grant equiv...,The grant element of a loan is the grant equiv...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Terms,International Debt Statistics,Annual,Weighted average,NaN

# Printing Last 5 Rows

In [10]:
tail(allcountry)

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
5827,Benin,BEN,World,WLD,"GG, bilateral (DIS, current US$)",DT.DIS.BLAT.GG.CD,3024979.3,3851380.7,2346085.7,32619984.2,4459365.4,5967713.9,15451484.3,19657009.5,9497901.8,16325690.2,26140119.4,4859579.2,43556047.2,13592333.2,2495824.4,5906258.8,16393211.3,7826459.8,11035718.6,61757180.5,16032039.8,10990717.9,7078763.4,9089809.5,4006874.9,10239261.3,20899049.9,5538088.6,15445796.3,379307.2,10626314.2,6608717.3,4589189.4,1776005.0,20295611.6,4235135.0,62805539.9,18954881.9,5155158.7,22233825.9,16073782.8,16662234.1,30676662.5,39709946.7,102487948.6,87494900.3,31762401.2,57567402.2,60354119.8,14138040.8,72251529.5,135994911.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5828,Benin,BEN,World,WLD,"GG, bilateral (DOD, current US$)",DT.DOD.BLAT.GG.CD,26359353.1,31132671.6,23341547.3,56763767.2,63667586.0,64850790.1,77821892.4,100194031.0,104523616.0,110537675.3,132170564.1,120355523.7,154250337.2,155461730.2,133480483.9,141448009.0,158285410.1,178095081.9,181403646.6,406707431.7,414272830.5,379901331.8,433087157.7,431186951.2,440859667.0,368143070.8,298192859.1,279909217.6,294334349.5,274318835.2,264126384.0,280761414.3,301606466.3,70236914.4,72905064.5,97880792.4,136332103.3,158559960.1,163583792.4,163236179.4,175046188.7,190658983.0,204163419.9,212922687.7,300937548.7,356821681.0,353043861.8,419882733.5,451577723.3,439136363.4,527888773.8,608922942.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5829,Benin,BEN,World,WLD,"GG, bilateral (INT, current US$)",DT.INT.BLAT.GG.CD,170532.2,337260.3,246497.3,70498.4,267052.0,127070.7,315203.0,284348.8,428521.8,409823.4,372391.8,619590.6,1425640.0,1871236.6,878019.4,1386756.0,1343402.2,1368515.2,1415498.8,NaN,164769.1,1543446.4,1307955.9,2652642.1,10207130.7,11973590.9,6143288.3,6984770.6,10463953.0,9527069.9,4504189.8,5666154.5,8823815.1,385378.5,648224.2,690745.0,685398.7,868724.6,1105142.0,1853458.4,1940623.9,2117277.2,3385193.3,3615939.4,3830477.8,4313635.1,4537379.9,5276387.6,6526023.2,7506684.3,24901985.7,8287896.5,12626493.2,17203375.6,19967508.7,20545882.5,19543497.5,17896648.9,16007198.0,13984650.9
5830,Benin,BEN,World,WLD,"GG, bilateral (NFL, current US$)",DT.NFL.BLAT.GG.CD,2556747.3,3345453.7,1621841.4,32574475.8,2842302.5,3840790.6,14093597.7,18583774.2,8472290.7,15620178.0,25410175.6,2656637.1,42779064.4,10798752.5,1154406.1,4209961.7,14270993.9,4843310.3,9724609.3,61757180.5,16032039.8,8276980.8,6301569.9,8123873.2,-1043344.5,4273068.3,13015349.0,-2057807.3,6166189.4,-12828011.3,-14600524.2,963411.3,-3686919.3,661883.2,17907111.4,3272772.9,56836089.5,16904564.4,1978556.9,8583702.8,12097926.0,12217944.7,13474898.9,5258940.0,90583530.8,71589342.5,13291004.0,47910774.7,48675370.0,-6235061.5,60904293.9,81004169.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5831,Benin,BEN,World,WLD,"GG, bilateral (NTR, current US$)",DT.NTR.BLAT.GG.CD,2386000.0,3008000.0,1375000.0,32504000.0,2575000.0,3714000.0,13778000.0,18299000.0,8044000.0,15210000.0,25038000.0,2037000.0,41353000.0,8928000.0,276000.0,2823000.0,12928000.0,3475000.0,8309000.0,61757000.0,15867000.0,6734000.0,4994000.0,5471000.0,-11250000.0,-7701000.0,6872000.0,-9043000.0,-4298000.0,-22355000.0,-19105000.0,-4703000.0,-12511000.0,277000.0,17259000.0,2582000.0,56151000.0,16036000.0,873000.0,6730000.0,10157000.0,10101000.0,10090000.0,1643000.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
tail(countryseriesmetadata)

,Type,Country Code,Series Code,Description
255,Country-Series,South Africa (ZAF),"External debt stocks, total (DOD, current US$)...",Long-term public and publicly guaranteed and l...
256,Country-Series,Zambia (ZMB),"Foreign direct investment, net inflows in repo...",Data on Foreign Direct Investment are based on...
257,Country-Series,Zambia (ZMB),"External debt stocks, total (DOD, current US$)...",Long-term public and publicly guaranteed and l...
258,Country-Series,Zimbabwe (ZWE),"Foreign direct investment, net inflows in repo...",Data on Foreign Direct Investment are based on...
259,Country-Series,Zimbabwe (ZWE),"External debt stocks, total (DOD, current US$)...",Long-term public and publicly guaranteed and l...

In [12]:
tail(countrymetadata)

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,National accounts base year,National accounts reference year,System of National Accounts,SNA price valuation,PPP survey years,Balance of Payments Manual in use,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
130,VUT,Republic of Vanuatu,Lower middle income,East Asia & Pacific,IDA,NaN,Vanuatu vatu,2020 (expected),"Multiple Indicator Cluster Survey, 2007/08",NaN,2006,NaN,Country uses the 1993 System of National Accou...,Value added at basic prices (VAB),2011 (Only for individual consumption expendit...,BPM6,Actual,NaN,Budgetary central government,Enhanced General Data Dissemination System (e-...,"Integrated household survey (IHS), 2010",NaN,2007,NaN,2011.0,NaN,VU,VU,Vanuatu,Vanuatu
131,VNM,Socialist Republic of Vietnam,Lower middle income,East Asia & Pacific,IBRD,NaN,Vietnamese dong,2019,"Multiple Indicator Cluster Survey, 2020/21",NaN,2010,NaN,Country uses the 1993 System of National Accou...,Value added at basic prices (VAB),"2017, 2011",BPM6,Actual,General trade system,NaN,Enhanced General Data Dissemination System (e-...,"Integrated household survey (IHS), 2016",Yes,2016,2013.0,2017.0,2005.0,VN,VN,Vietnam,Vietnam
132,YEM,Republic of Yemen,Low income,Middle East & North Africa,IDA,NaN,Yemeni rial,2004,"Demographic and Health Survey, 2013",The World Bank systematically assesses the app...,1990,NaN,Country uses the 1993 System of National Accou...,Value added at basic prices (VAB),Annual estimation for 2011-2013,BPM5 (Converted into BPM6 by IMF),Estimate,Special trade system,NaN,Enhanced General Data Dissemination System (e-...,"Expenditure survey/budget survey (ES/BS), 2014",NaN,NaN,2012.0,2015.0,2005.0,YE,RY,"Yemen, Rep.",Yemen
133,ZMB,Republic of Zambia,Low income,Sub-Saharan Africa,IDA,HIPC,New Zambian kwacha,2020 (expected),"Demographic and Health Survey, 2018",National accounts data were rebased to reflect...,2010,NaN,Country uses the 2008 System of National Accou...,Value added at basic prices (VAB),"2017, 2011",BPM6,Actual,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,"Integrated household survey (IHS), 2015",NaN,NaN,1994.0,2018.0,2002.0,ZM,ZM,Zambia,Zambia
134,ZWE,Republic of Zimbabwe,Lower middle income,Sub-Saharan Africa,Blend,NaN,Zimbabwean Dollar,2012,"Multiple Indicator Cluster Survey, 2019",National Accounts data are reported in Zimbabw...,2012,NaN,Country uses the 2008 System of National Accou...,Value added at basic prices (VAB),"2017, 2011",BPM6,Actual,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,"Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2018.0,2007.0,ZW,ZW,Zimbabwe,Zimbabwe

In [13]:
tail(footnotes)

,Type,Country Code,Series Code,Time Code,Description
2022,FootNote,Zimbabwe (ZWE),"Foreign direct investment, net inflows in repo...",2006 (YR2006),Source: United Nations Conference on Trade and...
2023,FootNote,Zimbabwe (ZWE),"Foreign direct investment, net inflows in repo...",2007 (YR2007),Source: United Nations Conference on Trade and...
2024,FootNote,Zimbabwe (ZWE),"Foreign direct investment, net inflows in repo...",2008 (YR2008),Source: United Nations Conference on Trade and...
2025,FootNote,Zimbabwe (ZWE),"Foreign direct investment, net inflows in repo...",2021 (YR2021),Gap-filled with countries' balance of payments...
2026,FootNote,Zimbabwe (ZWE),Personal transfers and compensation of employe...,2021 (YR2021),Gap-filled with countries' balance of payments...

In [14]:
tail(seriesmetadata)

,Code,License Type,Indicator Name,Short definition,Long definition,Source,Topic,Dataset,Periodicity,Aggregation method,General comments
564,DT.UND.OFFT.CD,NaN,"Undisbursed external debt, official creditors ...",Undisbursed debt is the total public and publi...,Undisbursed debt is the total public and publi...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Undisbu...,International Debt Statistics,Annual,Sum,NaN
565,DT.UND.PRVT.CD,NaN,"Undisbursed external debt, private creditors (...",Undisbursed debt is the total public and publi...,Undisbursed debt is the total public and publi...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Undisbu...,International Debt Statistics,Annual,Sum,NaN
566,DT.UND.DPPG.CD,NaN,"Undisbursed external debt, total (UND, current...",Undisbursed debt is the total public and publi...,Undisbursed debt is the total public and publi...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Undisbu...,International Debt Statistics,Annual,Sum,NaN
567,DT.DOD.DIMF.CD,NaN,"Use of IMF credit (DOD, current US$)",Use of IMF credit denotes members drawings on...,Use of IMF Credit: Data related to the operati...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Debt ou...,International Debt Statistics,Annual,Sum,NaN
568,DT.DOD.DSDR.CD,NaN,"Use of IMF credit, SDR allocations (DOD, curre...",SDR allocations are also included in this cate...,SDR allocations are also included in this cate...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Debt ou...,International Debt Statistics,Annual,Sum,NaN

# Printing Random 10 Rows

In [15]:
sample(allcountry)

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
3039,Armenia,ARM,World,WLD,"GG, private creditors (DOD, current US$)",DT.DOD.PRVT.GG.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5000000.0,18895000.0,25783000.0,25882000.0,18463379.4,3.851311e+06,3.031749e+06,3271829.7,4.052118e+06,4.716981e+06,4.427346e+06,3.588346e+06,3725236.6,5.721382e+06,1.620373e+07,7.211881e+08,7.243517e+08,1.042923e+09,1.048855e+09,1.056715e+09,1.053469e+09,1.148335e+09,1.052548e+09,1.795423e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1428,Algeria,DZA,World,WLD,"OPS, multilateral (NFL, current US$)",DT.NFL.MLAT.OPS.CD,-2614000.0,-2599000.0,-2824000.0,-1186000.0,-2104000.0,13618000.0,37771000.0,33213000.0,43094000.0,48836000.0,690000.0,22549000.0,-12886000.0,13925000.0,73332000.0,-91191000.0,99423000.0,18500000.0,5231000.0,47344000.0,33813000.0,57837000.0,127147000.0,9.500000e+07,8158000.0,193179000.0,285536000.0,69612000.0,295011000.0,79518000.0,41790000.0,1261000.0,-155968000.0,6.755500e+07,-1.200810e+08,-576343000.0,-1.100152e+09,-1.092000e+07,-7.276000e+06,0.000000e+00,-498000.0,-5.170000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1816,Angola,AGO,World,WLD,"Disbursements on external debt, general govern...",DT.DIS.DEGG.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,503418650.9,723217264.3,228854235.3,522366324.4,5.995619e+08,366736699.6,110448469.8,767032360.8,735492000.0,673550037.1,146327000.0,542415000.0,462179199.6,881437126.9,1.532533e+09,2.589064e+09,635659901.5,8.848615e+08,1.411657e+09,1.574914e+09,1.989445e+09,585272614.5,1.197092e+09,4.399630e+09,2.983669e+09,7.547879e+09,4.798573e+09,7.235527e+09,6.152277e+09,9.882282e+09,7.104508e+09,2.449645e+09,4.894412e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1312,Algeria,DZA,World,WLD,"GG, multilateral concessional (INT, current US$)",DT.INT.MLTC.GG.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1695,Algeria,DZA,World,WLD,Technical cooperation grants (current US$),BX.GRT.TECH.CD.DT,43730000.0,39890000.0,46830000.0,58120000.0,55260000.0,70290000.0,77000000.0,74690000.0,80690000.0,87830000.0,95900000.0,80550000.0,60840000.0,51510000.0,50010000.0,43830000.0,55040000.0,71770000.0,68620000.0,62500000.0,105700000.0,112570000.0,108800000.0,1.217600e+08,96070000.0,97340000.0,122890000.0,109070000.0,106300000.0,92680000.0,76250000.0,77270000.0,96940000.0,1.461900e+08,1.893700e+08,197990000.0,1.997700e+08,2.282500e+08,1.771700e+08,1.913100e+08,186240000.0,7.432000e+07,1.685700e+08,1.680500e+08,1.584500e+08,1.260900e+08,1.442900e+08,1.559100e+08,1.783400e+08,1.598800e+08,1.596200e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2434,Argentina,ARG,World,WLD,"GG, commercial banks (DIS, current US$)",DT.DIS.PCBK.GG.CD,185744.5,40208694.5,13365550.2,22199961.5,20504255.7,48015595.5,260739758.6,15671126.6,376448231.4,903809861.0,901714275.0,708229804.6,138115339.1,86160717.1,0.0,47474902.9,33754396.2,29900000.0,4184000.0,11253000.0,68750000.0,41901000.0,19913000.0,6.601355e+07,87811165.1,92862184.3,123329257.8,38614942.1,13597689.5,17967726.1,2051523.4,128219.0,1628573.9,2.125956e+05,1.603862e+05,54813.2,9.793600e+03,1.173980e+04,5.986900e+03,5.539100e+03,29446000.0,2.362000e+06,0.000000e+00,0.000000e+00,6.249761e+08,0.000000e+00,7.866947e+05,2.925000e+06,1.290000e+05,2.785707e+08,1.503560e+08,1.113276e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2693,Argentina,ARG,World,WLD,"Principal repayments on external debt, central...",DT.AMT.DECB.CD,69909993.3,36652239.3,2564000.0,21043805.2,80223401.2,96760793.7,97232128.8,135430603.4,527619853.8,6332090.4,4959776.6,3418677.9,8537146.7,1984548.5,8591178.0,219735377.3,413222888.4,726102416.4,624135257.0,916741029.9,955602019.2,616371675.0,249214000.0,1.179189e+09,5810000.0,7044000.0,7385000.0,9825000.0,10630000.0,13044000.0,14589000.0,15001000.0,9641000.0,4.842000e+06,1.530000e+05,275000.0,3.980000e+05,2.450000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,Afghanistan,AFG,World,WLD,"PPG, other private creditors (DOD, current US$)",DT.DOD.PROP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.970000e+05,3.970000e+05,3.970000e+05,3.970000e+05,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4998,Belarus,BLR,World,WLD,"PRVG, bonds (INT, current US$)",DT.INT.PBND.PRVG.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,Albania,ALB,World,WLD,"CB, commercial banks (NTR, current US$)",DT.NTR.PCBK.CB.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
sample(countryseriesmetadata)

,Type,Country Code,Series Code,Description
2,Country-Series,Angola (AGO),"Foreign direct investment, net inflows in repo...",Data on Foreign Direct Investment are based on...
256,Country-Series,Zambia (ZMB),"Foreign direct investment, net inflows in repo...",Data on Foreign Direct Investment are based on...
244,Country-Series,Vietnam (VNM),"External debt stocks, total (DOD, current US$)...",Long-term public and publicly guaranteed and l...
175,Country-Series,Nepal (NPL),"External debt stocks, total (DOD, current US$)...",Long-term public and publicly guaranteed debt ...
211,Country-Series,Syrian Arab Republic (SYR),"Foreign direct investment, net inflows in repo...",Data on Foreign Direct Investment are based on...
74,Country-Series,Ethiopia (ETH),"Foreign direct investment, net inflows in repo...",Data on Foreign Direct Investment are based on...
203,Country-Series,Somalia (SOM),"External debt stocks, total (DOD, current US$)...",Long-term public and publicly guaranteed debt ...
184,Country-Series,Papua New Guinea (PNG),"External debt stocks, total (DOD, current US$)...",Long-term public and publicly guaranteed and l...
164,Country-Series,Mauritius (MUS),"Foreign direct investment, net inflows in repo...",Data on Foreign Direct Investment are based on...
126,Country-Series,Lebanon (LBN),"External debt stocks, total (DOD, current US$)...","Long-term public and publicly guaranteed, long..."

In [17]:
sample(countrymetadata)

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,National accounts base year,National accounts reference year,System of National Accounts,SNA price valuation,PPP survey years,Balance of Payments Manual in use,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
93,NGA,Federal Republic of Nigeria,Lower middle income,Sub-Saharan Africa,Blend,NaN,Nigerian naira,2020 (expected),Living Standards Survey 2018-2019; General Hou...,The World Bank systematically assesses the app...,2010,NaN,Country uses the 2008 System of National Accou...,Value added at basic prices (VAB),"2017, 2011",BPM6,Actual,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,"Integrated household survey (IHS), 2009/10",NaN,"2007. Economic Census, Natural Resources Censu...",1996.0,2018.0,2005.0,NG,NG,Nigeria,Nigeria
100,RUS,Russian Federation,Upper middle income,Europe & Central Asia,IBRD,NaN,Russian ruble,2020 (expected),"Russian Federation Reproductive Health Survey,...",NaN,Original chained constant price data are resca...,2016.0,Country uses the 2008 System of National Accou...,Value added at basic prices (VAB),Rolling surveys (annual estimation),BPM6,Estimate,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),"Expenditure survey/budget survey (ES/BS), 2017",Yes,2016,2014.0,2018.0,2013.0,RU,RU,Russian Federation,Russia
70,LSO,Kingdom of Lesotho,Lower middle income,Sub-Saharan Africa,IDA,NaN,Lesotho loti,2016,"Multiple Indicator Cluster Survey, 2018",Fiscal year end: March 31; reporting period fo...,2012,NaN,Country uses the 2008 System of National Accou...,Value added at basic prices (VAB),"2017, 2011",BPM6,Actual,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,"Expenditure survey/budget survey (ES/BS), 2010",NaN,2010,1985.0,2017.0,2000.0,LS,LS,Lesotho,Lesotho
49,GIN,Republic of Guinea,Low income,Sub-Saharan Africa,IDA,HIPC,Guinean franc,2014,"Malaria Indicator Survey, 2021",NaN,Original chained constant price data are resca...,2010.0,Country uses the 2008 System of National Accou...,Value added at basic prices (VAB),"2017, 2011",BPM6,Actual,Special trade system,NaN,Enhanced General Data Dissemination System (e-...,Core Welfare Indicator Questionnaire Survey (C...,NaN,NaN,NaN,2015.0,2001.0,GN,GN,Guinea,Guinea
21,CMR,Republic of Cameroon,Lower middle income,Sub-Saharan Africa,Blend,HIPC,Central African CFA franc,2020 (expected),"Malaria Indicator Survey, 2020/21",NaN,2016,NaN,Country uses the 2008 System of National Accou...,Value added at basic prices (VAB),"2017, 2011",BPM6,Actual,Special trade system,NaN,Enhanced General Data Dissemination System (e-...,"Priority survey (PS), 2014",NaN,NaN,2002.0,2017.0,2000.0,CM,CM,Cameroon,Cameroon
56,IND,Republic of India,Lower middle income,South Asia,IBRD,NaN,Indian rupee,2011,"Demographic and Health Survey, 2019/20",The reporting period for national accounts dat...,2011/12,NaN,Country uses the 2008 System of National Accou...,Value added at basic prices (VAB),"2017, 2011",BPM6,Actual,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),"Integrated household survey (IHS), 2011/12",NaN,2010-2011,2014.0,2018.0,2010.0,IN,IN,India,India
46,GHA,Republic of Ghana,Lower middle income,Sub-Saharan Africa,IDA,HIPC,New Ghanaian cedi,2020 (expected),"Malaria Indicator Survey, 2019",The World Bank systematically assesses the app...,2013,NaN,Country uses the 2008 System of National Accou...,Value added at basic prices (VAB),"2017, 2011",BPM6,Actual,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,Living Standards Measurement Study Survey (LSM...,NaN,NaN,2003.0,2018.0,2000.0,GH,GH,Ghana,Ghana
45,GEO,Georgia,Upper middle income,Europe & Central Asia,IBRD,NaN,Georgian lari,2014,"Multiple Indicator Cluster Survey, 2018","Includes self-governed areas only, which mostl...",Original chained constant price data are resca...,2015.0,Country uses the 2008 System of National Accou...,Value added at basic prices (VAB),"2017, 2011",BPM6,Actual,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),"Integrated household survey (IHS), 2017",Yes,2014,2013.0,2018.0,2008.0,GE,GE,Georgia,Georgia
89,MMR,Republic of the Union of Myanmar,Lower middle income,East Asia & Pacific,IDA,NaN,Myanmar kyat,2014,"Demographic and Health Survey, 2015/16",The reporting period for national accounts dat...,2016,NaN,Country uses the 2008 System of National Accou...,Value added at producer prices (VAP),"2017, 2011",BPM6,Actual,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,"Integrated household survey (IHS), 2015",NaN,2010,NaN,2018.0,2000.0,MM,MM,Myanmar,Myanmar
43,GAB,Gabonese Republic,Upper middle income,Sub-Saharan Africa,IBRD,NaN,Central African CFA franc,2013,"Demographic and Health Survey, 2019/20",NaN,2001,NaN,Country uses the 1993 System of National Accou...,Value added at basic prices (VAB),"2017, 2011",BPM5 (Converted into BPM6 by IMF),Actual,NaN,NaN,Enhanced General Data Dissemination System (e-...,Living Standards Measurement Study Survey (LSM...,NaN,NaN,1995.0,2009.0,2005.0,GA,GA,Gabon,Gabon

In [18]:
sample(footnotes)

,Type,Country Code,Series Code,Time Code,Description
1022,FootNote,Mali (MLI),Present value of external debt (% of exports o...,2009 (YR2009),Data are from debt sustainability analyses for...
322,FootNote,Chad (TCD),Current account balance (current US$) (BN.CAB....,2014 (YR2014),Source: United Nations Conference on Trade and...
1878,FootNote,Vietnam (VNM),"Foreign direct investment, net inflows in repo...",1984 (YR1984),Source: United Nations Conference on Trade and...
747,FootNote,"Iran, Islamic Rep. (IRN)","Imports of goods, services and primary income ...",2001 (YR2001),Gap-filled with countries' balance of payments...
267,FootNote,Central African Republic (CAF),"Foreign direct investment, net inflows in repo...",2000 (YR2000),Source: United Nations Conference on Trade and...
1342,FootNote,Rwanda (RWA),"Foreign direct investment, net inflows in repo...",2021 (YR2021),Gap-filled with countries' balance of payments...
245,FootNote,Central African Republic (CAF),Current account balance (current US$) (BN.CAB....,2000 (YR2000),Source: United Nations Conference on Trade and...
653,FootNote,Guinea-Bissau (GNB),"Foreign direct investment, net inflows in repo...",1995 (YR1995),Source: United Nations Conference on Trade and...
431,FootNote,"Congo, Rep. (COG)",Current account balance (current US$) (BN.CAB....,2018 (YR2018),Gap-filled with countries' balance of payments...
1917,FootNote,"Yemen, Rep. (YEM)","Foreign direct investment, net inflows in repo...",1971 (YR1971),Data are for People's Democratic Republic of Y...

In [19]:
sample(seriesmetadata)

,Code,License Type,Indicator Name,Short definition,Long definition,Source,Topic,Dataset,Periodicity,Aggregation method,General comments
387,DT.TDS.MLTC.CD,NaN,"PPG, multilateral concessional (TDS, current US$)",Public and publicly guaranteed multilateral lo...,Public and publicly guaranteed multilateral lo...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Debt se...,International Debt Statistics,Annual,Sum,NaN
454,DT.NFL.PCBK.PRVG.CD,NaN,"PRVG, commercial banks (NFL, current US$)",Private sector guaranteed by Public Sector com...,Private sector guaranteed by Public Sector com...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Net flows,International Debt Statistics,Annual,Sum,NaN
539,DT.NTR.OFFT.PS.CD,NaN,"PS, official creditors (NTR, current US$)",Public sector debt from official creditors inc...,Public sector debt from official creditors inc...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Net tra...,International Debt Statistics,Annual,Sum,NaN
352,DT.DOD.PBND.CD,NaN,"PPG, bonds (DOD, current US$)",Public and publicly guaranteed debt from bonds...,Public and publicly guaranteed debt from bonds...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Debt ou...,International Debt Statistics,Annual,Sum,NaN
88,DT.CUR.MULC.ZS,NaN,"Currency composition of PPG debt, Multiple cur...",The percentage of external long-term public an...,The percentage of external long-term public an...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Currenc...,International Debt Statistics,Annual,Weighted average,NaN
278,DT.TDS.PBND.OPS.CD,NaN,"OPS, bonds (TDS, current US$)",Other public sector debt from bonds that are ...,Other public sector debt from bonds that are ...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Debt se...,International Debt Statistics,Annual,Sum,NaN
563,FI.RES.TOTL.MO,NaN,Total reserves in months of imports,Total reserves comprise holdings of monetary g...,Total reserves comprise holdings of monetary g...,"International Monetary Fund, International Fin...",Economic Policy & Debt: Balance of payments: R...,International Debt Statistics,Annual,Weighted average,NaN
505,DT.TDS.BLTC.PS.CD,NaN,"PS, bilateral concessional (TDS, current US$)",Public sector bilateral debt includes loans f...,Public sector bilateral debt includes loans f...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Debt se...,International Debt Statistics,Annual,Sum,NaN
412,BX.KLT.DREM.CD.DT,NaN,Primary income on FDI (current US$),Primary income on foreign direct investment co...,Primary income on foreign direct investment co...,"International Monetary Fund, Balance of Paymen...",Economic Policy & Debt: Balance of payments: C...,International Debt Statistics,Annual,Sum,NaN
92,DT.CUR.USDL.ZS,NaN,"Currency composition of PPG debt, U.S. dollars...",The percentage of external long-term public an...,The percentage of external long-term public an...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Currenc...,International Debt Statistics,Annual,Weighted average,NaN

# Printing Total Number of Rows and Columns

In [20]:
shape(allcountry)

(5832, 66)

In [21]:
shape(countryseriesmetadata)

(260, 4)

In [22]:
shape(countrymetadata)

(135, 30)

In [23]:
shape(footnotes)

(2027, 5)

In [24]:
shape(seriesmetadata)

(569, 11)

# Priniting Dataset Information

In [25]:
info(allcountry)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5832 entries, 0 to 5831
Data columns (total 66 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country Name           5832 non-null   object
 1   Country Code           5832 non-null   object
 2   Counterpart-Area Name  5832 non-null   object
 3   Counterpart-Area Code  5832 non-null   object
 4   Series Name            5832 non-null   object
 5   Series Code            5832 non-null   object
 6   1970                   1383 non-null   float64
 7   1971                   1387 non-null   float64
 8   1972                   1563 non-null   float64
 9   1973                   1658 non-null   float64
 10  1974                   1729 non-null   float64
 11  1975                   1758 non-null   float64
 12  1976                   1772 non-null   float64
 13  1977                   1791 non-null   float64
 14  1978                   1812 non-null   float64
 15  1979                   1853 non-null   float64
 16  1980                   1853 non-null   float64
 17  1981                   1888 non-null   float64
 18  1982                   1937 non-null   float64
 19  1983                   1942 non-null   float64
 20  1984                   1947 non-null   float64
 21  1985                   1995 non-null   float64
 22  1986                   2005 non-null   float64
 23  1987                   2011 non-null   float64
 24  1988                   2037 non-null   float64
 25  1989                   2381 non-null   float64
 26  1990                   2385 non-null   float64
 27  1991                   2570 non-null   float64
 28  1992                   2591 non-null   float64
 29  1993                   3007 non-null   float64
 30  1994                   3141 non-null   float64
 31  1995                   3255 non-null   float64
 32  1996                   3301 non-null   float64
 33  1997                   3346 non-null   float64
 34  1998                   3435 non-null   float64
 35  1999                   3485 non-null   float64
 36  2000                   3535 non-null   float64
 37  2001                   3592 non-null   float64
 38  2002                   3614 non-null   float64
 39  2003                   3606 non-null   float64
 40  2004                   3676 non-null   float64
 41  2005                   3594 non-null   float64
 42  2006                   3817 non-null   float64
 43  2007                   3886 non-null   float64
 44  2008                   3837 non-null   float64
 45  2009                   3825 non-null   float64
 46  2010                   3802 non-null   float64
 47  2011                   3793 non-null   float64
 48  2012                   3802 non-null   float64
 49  2013                   3762 non-null   float64
 50  2014                   3903 non-null   float64
 51  2015                   3859 non-null   float64
 52  2016                   3797 non-null   float64
 53  2017                   3813 non-null   float64
 54  2018                   3823 non-null   float64
 55  2019                   3802 non-null   float64
 56  2020                   3824 non-null   float64
 57  2021                   3727 non-null   float64
 58  2022                   965 non-null    float64
 59  2023                   963 non-null    float64
 60  2024                   958 non-null    float64
 61  2025                   892 non-null    float64
 62  2026                   871 non-null    float64
 63  2027                   862 non-null    float64
 64  2028                   843 non-null    float64
 65  2029                   833 non-null    float64
dtypes: float64(60), object(6)
memory usage: 2.9+ MB

In [26]:
info(countryseriesmetadata)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Type          260 non-null    object
 1   Country Code  260 non-null    object
 2   Series Code   260 non-null    object
 3   Description   260 non-null    object
dtypes: object(4)
memory usage: 8.2+ KB

In [27]:
info(countrymetadata)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 30 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Code                                               135 non-null    object
 1   Long Name                                          135 non-null    object
 2   Income Group                                       121 non-null    object
 3   Region                                             121 non-null    object
 4   Lending category                                   121 non-null    object
 5   Other groups                                       40 non-null     object
 6   Currency Unit                                      121 non-null    object
 7   Latest population census                           119 non-null    object
 8   Latest household survey                            118 non-null    object
 9   Special Notes                                      57 non-null     object
 10  National accounts base year                        121 non-null    object
 11  National accounts reference year                   28 non-null     float64
 12  System of National Accounts                        121 non-null    object
 13  SNA price valuation                                121 non-null    object
 14  PPP survey years                                   120 non-null    object
 15  Balance of Payments Manual in use                  120 non-null    object
 16  External debt Reporting status                     121 non-null    object
 17  System of trade                                    102 non-null    object
 18  Government Accounting concept                      98 non-null     object
 19  IMF data dissemination standard                    118 non-null    object
 20  Source of most recent Income and expenditure data  117 non-null    object
 21  Vital registration complete                        38 non-null     object
 22  Latest agricultural census                         72 non-null     object
 23  Latest industrial data                             88 non-null     float64
 24  Latest trade data                                  115 non-null    float64
 25  Latest water withdrawal data                       115 non-null    float64
 26  2-alpha code                                       135 non-null    object
 27  WB-2 code                                          135 non-null    object
 28  Table Name                                         135 non-null    object
 29  Short Name                                         135 non-null    object
dtypes: float64(4), object(26)
memory usage: 31.8+ KB

In [28]:
info(footnotes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2027 entries, 0 to 2026
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Type          2027 non-null   object
 1   Country Code  2027 non-null   object
 2   Series Code   2027 non-null   object
 3   Time Code     2027 non-null   object
 4   Description   2027 non-null   object
dtypes: object(5)
memory usage: 79.3+ KB

In [29]:
info(seriesmetadata)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Code                569 non-null    object
 1   License Type        1 non-null      object
 2   Indicator Name      569 non-null    object
 3   Short definition    568 non-null    object
 4   Long definition     569 non-null    object
 5   Source              569 non-null    object
 6   Topic               569 non-null    object
 7   Dataset             569 non-null    object
 8   Periodicity         569 non-null    object
 9   Aggregation method  569 non-null    object
 10  General comments    7 non-null      object
dtypes: object(11)
memory usage: 49.0+ KB

# Priniting Dataset Columns Name

In [30]:
columns(allcountry)

Index(['Country Name', 'Country Code', 'Counterpart-Area Name',
       'Counterpart-Area Code', 'Series Name', 'Series Code', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025',
       '2026', '2027', '2028', '2029'],
      dtype='object')

In [31]:
columns(countryseriesmetadata)

Index(['Type', 'Country Code', 'Series Code', 'Description'], dtype='object')

In [32]:
columns(countrymetadata)

Index(['Code', 'Long Name', 'Income Group', 'Region', 'Lending category',
       'Other groups', 'Currency Unit', 'Latest population census',
       'Latest household survey', 'Special Notes',
       'National accounts base year', 'National accounts reference year',
       'System of National Accounts', 'SNA price valuation',
       'PPP survey years', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', '2-alpha code', 'WB-2 code',
       'Table Name', 'Short Name'],
      dtype='object')

In [33]:
columns(footnotes)

Index(['Type', 'Country Code', 'Series Code', 'Time Code', 'Description'], dtype='object')

In [34]:
columns(seriesmetadata)

Index(['Code', 'License Type', 'Indicator Name', 'Short definition',
       'Long definition', 'Source', 'Topic', 'Dataset', 'Periodicity',
       'Aggregation method', 'General comments'],
      dtype='object')

# Priniting Dataset Statistical Information

In [35]:
describe(allcountry)

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
count,1.383000e+03,1.387000e+03,1.563000e+03,1.658000e+03,1.729000e+03,1.758000e+03,1.772000e+03,1.791000e+03,1.812000e+03,1.853000e+03,1.853000e+03,1.888000e+03,1.937000e+03,1.942000e+03,1.947000e+03,1.995000e+03,2.005000e+03,2.011000e+03,2.037000e+03,2.381000e+03,2.385000e+03,2.570000e+03,2.591000e+03,3.007000e+03,3.141000e+03,3.255000e+03,3.301000e+03,3.346000e+03,3.435000e+03,3.485000e+03,3.535000e+03,3.592000e+03,3.614000e+03,3.606000e+03,3.676000e+03,3.594000e+03,3.817000e+03,3.886000e+03,3.837000e+03,3.825000e+03,3.802000e+03,3.793000e+03,3.802000e+03,3.762000e+03,3.903000e+03,3.859000e+03,3.797000e+03,3.813000e+03,3.823000e+03,3.802000e+03,3.824000e+03,3.727000e+03,9.650000e+02,9.630000e+02,9.580000e+02,8.920000e+02,8.710000e+02,8.620000e+02,8.430000e+02,8.330000e+02
mean,9.719386e+07,1.089869e+08,1.105598e+08,1.762780e+08,1.988385e+08,2.094480e+08,2.664133e+08,3.237311e+08,4.542204e+08,5.266896e+08,5.458851e+08,5.558871e+08,6.044042e+08,6.106344e+08,6.101250e+08,7.278958e+08,7.827741e+08,8.767512e+08,8.947463e+08,8.143272e+08,8.869339e+08,8.506605e+08,8.703650e+08,8.240634e+08,8.131514e+08,8.727053e+08,9.535213e+08,9.640261e+08,1.032529e+09,1.098627e+09,1.009482e+09,8.418452e+08,7.751512e+08,9.261796e+08,9.642585e+08,9.123280e+08,8.483752e+08,1.062064e+09,1.206980e+09,1.181181e+09,1.280124e+09,1.557655e+09,1.517174e+09,1.660034e+09,1.779444e+09,1.650354e+09,2.206900e+09,2.393131e+09,2.640675e+09,2.144189e+09,2.057929e+09,2.233018e+09,9.312769e+08,1.150573e+09,7.472302e+08,6.750224e+08,6.430618e+08,5.779893e+08,5.094362e+08,4.775494e+08
std,8.856047e+08,9.756775e+08,9.484402e+08,1.396914e+09,1.857464e+09,1.501696e+09,1.486238e+09,1.722592e+09,2.034880e+09,2.442939e+09,2.740530e+09,2.877051e+09,2.982063e+09,3.511617e+09,3.300919e+09,3.803985e+09,4.290730e+09,4.775873e+09,4.847622e+09,4.192497e+09,4.721322e+09,5.119238e+09,5.717050e+09,5.559632e+09,5.862945e+09,6.077101e+09,6.564387e+09,7.059892e+09,7.474286e+09,7.782752e+09,7.617294e+09,7.246503e+09,5.987093e+09,6.631418e+09,7.064083e+09,6.020146e+09,6.547967e+09,7.532959e+09,9.082679e+09,8.537537e+09,9.751374e+09,1.172964e+10,1.202410e+10,1.235917e+10,1.204597e+10,1.247443e+10,1.337226e+10,1.519830e+10,1.495123e+10,1.372645e+10,1.312022e+10,1.460310e+10,2.513697e+09,3.536065e+09,1.588764e+09,1.355749e+09,1.249466e+09,1.196775e+09,1.111426e+09,1.039168e+09
min,-2.213000e+08,-1.120540e+08,-1.586000e+08,-2.899000e+08,-2.408000e+08,-5.451770e+08,-3.650000e+08,-2.325190e+09,-3.539676e+09,-1.631862e+09,-4.774000e+09,-4.712000e+09,-2.353000e+09,-1.120819e+10,-4.884793e+09,-4.316802e+09,-6.091428e+09,-4.235000e+09,-2.237978e+09,-3.621661e+09,-5.969563e+09,-2.606000e+09,-5.547755e+09,-9.075571e+09,-1.097945e+10,-5.117957e+09,-6.769978e+09,-1.213807e+10,-1.448200e+10,-1.194283e+10,-8.980618e+09,-1.219780e+10,-1.402917e+10,-2.343584e+09,-4.508323e+09,-3.721115e+10,-1.642626e+10,-1.103728e+10,-4.958600e+09,-8.149297e+09,-8.555562e+09,-5.340181e+09,-6.682992e+09,-1.312437e+10,-1.108185e+10,-2.703764e+10,-2.620405e+10,-3.115135e+10,-2.708361e+10,-1.695429e+10,-7.275794e+10,-1.556323e+10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.063000e-01,9.669500e-01,8.024400e+00,8.926300e+00,2.424800e+00,3.493308e+00,2.153779e+00,0.000000e+00,1.929108e+00,4.272500e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.249600e+00,6.547275e+00,1.024466e+01,1.788800e+00,1.840412e-01,1.183700e+00,7.080000e-02,1.486409e+00,9.873000e-01,0.000000e+00,0.000000e+00,2.690000e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.471992e+07,1.436467e+07,1.339127e+07,2.308331e+07,1.651062e+07,1.346895e+07,8.661680e+06,7.889394e+06
50%,9.000000e+03,1.385930e+01,4.002570e+04,8.898651e+05,9.170000e+05,8.320000e+05,2.385266e+06,2.862474e+06,4.519000e+06,3.334890e+06,2.176000e+06,1.828965e+06,2.148705e+06,2.954858e+06,1.521000e+06,2.804716e+06,2.160662e+06,2.325000e+06,2.860803e+06,4.577658e+06,5.493834e+06,6.597316e+06,6.287000e+06,7.149891e+06,9.894128e+06,1.118681e+07,9.904000e+06,8.602111e+06,7.296112e+06,8.082540e+06,9.500000e+06,8.375646e+06,8.000000e+06,8.000000e+06,7.293416e+06,1.037087e+07,1.006788e+07,1.183664e+07,1.581831e+07,1.408200e+07,1.612951e+07,1.912000e+07,1.803450e+07,2.662506e+07,2.501968e+07,2.365900e+07,2.274729e+07,2.414892e+07,1.831000e+07,1.934500e+07,1.730000e+07,1.583500e+07,9.586798e+07,9.371681e+07,8.779294e+07,1.184161e+08,8.405872e+07,8.125877e+07,6.980667e+07,6.786022e+07
75%,2.153689e+07,3.019580e+07,4.236654e+07,5.633200e+07,7.469200e+07,6.052854e+07,8.867749e+07,9.789367e+07,1.392950e+08,1.411579e+08,1.348330e+08,1.075412e+08,1.127363e+08,1.181758e+08,1.032700e+08,1.252515e+08,1.594170e+08,1.849246e+08,1.908940e+08,1.618357e+08,1.812993e+08,1.548175e+08,1.357442e+08,1.194440e+08,1.394130e+08,1.402431e+08,1.236755e+08,1.080126e+08,1.011454e+08,1.113149e+08,1.188308e+08,9.475137e+07,1.067177e+08,1.115552e+08,1.291264e+08,1.753670e+08,1.371749e+08,1.954858e+08,2.271708e+08,2.666510e+08,2.451138e+08,2.996870e+08,3.764302e+08,4.543775e+08,4.778830e+08,4.336640e+08,5.265020e+08,5.255830e+08,5.699836e+08,4.749745e+08,4.120690e+08,5.174062e+08,5.672027e+08,6.504779e+08,6.189516e+08,6.432313e+08,6.094835e+08,5.624980e+08,3.728894e+08,3.804930e+08
max,3.039632e+10,3.363460e+10,3.419950e+10,5.272222e+10,7.267989e+10,5.314811e+10,5.118500e+10,5.633920e+10,5.771647e+10,6.862617e+10,7.628657e+10,7.684211e+10,7.924383e+10,9.807217e+10,7.499680e+10,8.367250e+10,1.059220e+11,1.059430e+11,1.207160e+11,7.021946e+10,1.351500e+11,1.838570e+11,2.245310e+11,2.337440e+11,2.537430e+11,2.533630e+11,2.666480e+11,2.866410e+11,2.915420e+11,2.760590e+11,2.766560e+11,2.609700e+11,1.483200e+11,1.634430e+11,1.680000e+11,1.761530e+11,2.248970e+11,2.799940e+11,3.526150e+11,3.227440e+11,4.091920e+11,5.150100e+11,5.330740e+11,5.401860e+11,5.155320e+11,5.836150e+11,5.452510e+11,6.272010e+11,5.060940e+11,4.350090e+11,3.893790e+11,4.815480e+11,3.598781e+10,4.907867e+10,1.731854e+10,1.044591e+10,9.355876e+09,8.501941e+09,7.035501e+09,6.757798e+09

In [36]:
describe(countryseriesmetadata)

,Type,Country Code,Series Code,Description
count,260,260,260,260
unique,1,132,6,104
top,Country-Series,India (IND),"Foreign direct investment, net inflows in repo...",Data on Foreign Direct Investment are based on...
freq,260,5,130,130

In [37]:
describe(countrymetadata)

,National accounts reference year,Latest industrial data,Latest trade data,Latest water withdrawal data
count,28.000000,88.000000,115.000000,115.000000
mean,2010.214286,2005.090909,2016.400000,2006.113043
std,4.565224,10.071738,3.679722,4.360439
min,2000.000000,1973.000000,1995.000000,1993.000000
25%,2006.750000,1999.000000,2017.000000,2003.000000
50%,2010.000000,2010.000000,2018.000000,2005.000000
75%,2014.250000,2012.250000,2018.000000,2010.000000
max,2017.000000,2014.000000,2018.000000,2016.000000

In [38]:
describe(footnotes)

,Type,Country Code,Series Code,Time Code,Description
count,2027,2027,2027,2027,2027
unique,1,104,24,52,46
top,FootNote,"Iran, Islamic Rep. (IRN)","Foreign direct investment, net inflows in repo...",2021 (YR2021),Source: United Nations Conference on Trade and...
freq,2027,129,1162,160,1129

In [39]:
describe(seriesmetadata)

,Code,License Type,Indicator Name,Short definition,Long definition,Source,Topic,Dataset,Periodicity,Aggregation method,General comments
count,569,1,569,568,569,569,569,569,569,569,7
unique,569,1,569,555,556,8,20,1,1,3,3
top,DT.GPA.DPPG,CC BY-4.0,Average grace period on new external debt comm...,Private sector guaranteed by Public Sector oth...,Private sector guaranteed by Public Sector oth...,"World Bank, International Debt Statistics.",Economic Policy & Debt: External debt: Debt ou...,International Debt Statistics,Annual,Sum,The denominator for this indicator in previous...
freq,1,1,1,2,2,558,75,569,569,534,3

# Feature Engineering

In [40]:
head(allcountry)

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
0,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.OFFT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.PRVT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.DPPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.OFFT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
allcountry.head(3)

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
0,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.25,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.OFFT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.25,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.PRVT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
data = allcountry[['Country Name','Country Code','Series Name','Series Code']]

In [43]:
data.head()

,Country Name,Country Code,Series Name,Series Code
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG
1,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.OFFT
2,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.PRVT
3,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.DPPG
4,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.OFFT

In [44]:
num = allcountry.select_dtypes(include=['float64'])

In [45]:
num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5832 entries, 0 to 5831
Data columns (total 60 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1970    1383 non-null   float64
 1   1971    1387 non-null   float64
 2   1972    1563 non-null   float64
 3   1973    1658 non-null   float64
 4   1974    1729 non-null   float64
 5   1975    1758 non-null   float64
 6   1976    1772 non-null   float64
 7   1977    1791 non-null   float64
 8   1978    1812 non-null   float64
 9   1979    1853 non-null   float64
 10  1980    1853 non-null   float64
 11  1981    1888 non-null   float64
 12  1982    1937 non-null   float64
 13  1983    1942 non-null   float64
 14  1984    1947 non-null   float64
 15  1985    1995 non-null   float64
 16  1986    2005 non-null   float64
 17  1987    2011 non-null   float64
 18  1988    2037 non-null   float64
 19  1989    2381 non-null   float64
 20  1990    2385 non-null   float64
 21  1991    2570 non-null   float64
 22  1992    2591 non-null   float64
 23  1993    3007 non-null   float64
 24  1994    3141 non-null   float64
 25  1995    3255 non-null   float64
 26  1996    3301 non-null   float64
 27  1997    3346 non-null   float64
 28  1998    3435 non-null   float64
 29  1999    3485 non-null   float64
 30  2000    3535 non-null   float64
 31  2001    3592 non-null   float64
 32  2002    3614 non-null   float64
 33  2003    3606 non-null   float64
 34  2004    3676 non-null   float64
 35  2005    3594 non-null   float64
 36  2006    3817 non-null   float64
 37  2007    3886 non-null   float64
 38  2008    3837 non-null   float64
 39  2009    3825 non-null   float64
 40  2010    3802 non-null   float64
 41  2011    3793 non-null   float64
 42  2012    3802 non-null   float64
 43  2013    3762 non-null   float64
 44  2014    3903 non-null   float64
 45  2015    3859 non-null   float64
 46  2016    3797 non-null   float64
 47  2017    3813 non-null   float64
 48  2018    3823 non-null   float64
 49  2019    3802 non-null   float64
 50  2020    3824 non-null   float64
 51  2021    3727 non-null   float64
 52  2022    965 non-null    float64
 53  2023    963 non-null    float64
 54  2024    958 non-null    float64
 55  2025    892 non-null    float64
 56  2026    871 non-null    float64
 57  2027    862 non-null    float64
 58  2028    843 non-null    float64
 59  2029    833 non-null    float64
dtypes: float64(60)
memory usage: 2.7 MB

In [46]:
num.head()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
num.tail()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
5827,3024979.3,3851380.7,2346085.7,32619984.2,4459365.4,5967713.9,15451484.3,19657009.5,9497901.8,16325690.2,26140119.4,4859579.2,43556047.2,13592333.2,2495824.4,5906258.8,16393211.3,7826459.8,11035718.6,61757180.5,16032039.8,10990717.9,7078763.4,9089809.5,4006874.9,10239261.3,20899049.9,5538088.6,15445796.3,379307.2,10626314.2,6608717.3,4589189.4,1776005.0,20295611.6,4235135.0,62805539.9,18954881.9,5155158.7,22233825.9,16073782.8,16662234.1,30676662.5,39709946.7,102487948.6,87494900.3,31762401.2,57567402.2,60354119.8,14138040.8,72251529.5,135994911.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5828,26359353.1,31132671.6,23341547.3,56763767.2,63667586.0,64850790.1,77821892.4,100194031.0,104523616.0,110537675.3,132170564.1,120355523.7,154250337.2,155461730.2,133480483.9,141448009.0,158285410.1,178095081.9,181403646.6,406707431.7,414272830.5,379901331.8,433087157.7,431186951.2,440859667.0,368143070.8,298192859.1,279909217.6,294334349.5,274318835.2,264126384.0,280761414.3,301606466.3,70236914.4,72905064.5,97880792.4,136332103.3,158559960.1,163583792.4,163236179.4,175046188.7,190658983.0,204163419.9,212922687.7,300937548.7,356821681.0,353043861.8,419882733.5,451577723.3,439136363.4,527888773.8,608922942.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5829,170532.2,337260.3,246497.3,70498.4,267052.0,127070.7,315203.0,284348.8,428521.8,409823.4,372391.8,619590.6,1425640.0,1871236.6,878019.4,1386756.0,1343402.2,1368515.2,1415498.8,NaN,164769.1,1543446.4,1307955.9,2652642.1,10207130.7,11973590.9,6143288.3,6984770.6,10463953.0,9527069.9,4504189.8,5666154.5,8823815.1,385378.5,648224.2,690745.0,685398.7,868724.6,1105142.0,1853458.4,1940623.9,2117277.2,3385193.3,3615939.4,3830477.8,4313635.1,4537379.9,5276387.6,6526023.2,7506684.3,24901985.7,8287896.5,12626493.2,17203375.6,19967508.7,20545882.5,19543497.5,17896648.9,16007198.0,13984650.9
5830,2556747.3,3345453.7,1621841.4,32574475.8,2842302.5,3840790.6,14093597.7,18583774.2,8472290.7,15620178.0,25410175.6,2656637.1,42779064.4,10798752.5,1154406.1,4209961.7,14270993.9,4843310.3,9724609.3,61757180.5,16032039.8,8276980.8,6301569.9,8123873.2,-1043344.5,4273068.3,13015349.0,-2057807.3,6166189.4,-12828011.3,-14600524.2,963411.3,-3686919.3,661883.2,17907111.4,3272772.9,56836089.5,16904564.4,1978556.9,8583702.8,12097926.0,12217944.7,13474898.9,5258940.0,90583530.8,71589342.5,13291004.0,47910774.7,48675370.0,-6235061.5,60904293.9,81004169.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5831,2386000.0,3008000.0,1375000.0,32504000.0,2575000.0,3714000.0,13778000.0,18299000.0,8044000.0,15210000.0,25038000.0,2037000.0,41353000.0,8928000.0,276000.0,2823000.0,12928000.0,3475000.0,8309000.0,61757000.0,15867000.0,6734000.0,4994000.0,5471000.0,-11250000.0,-7701000.0,6872000.0,-9043000.0,-4298000.0,-22355000.0,-19105000.0,-4703000.0,-12511000.0,277000.0,17259000.0,2582000.0,56151000.0,16036000.0,873000.0,6730000.0,10157000.0,10101000.0,10090000.0,1643000.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
num.sample(10)

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
2491,43600053.7,50860054.5,67476674.6,76133902.2,80486808.1,101704967.9,92824022.1,116634747.0,172810023.5,205955211.5,320371652.1,475953509.1,591454557.9,495371432.0,201012966.6,234014534.6,956403146.6,295261481.6,293757728.2,271918712.8,295622149.5,580561318.0,1.112761e+09,1.509278e+09,2.372964e+09,3.091105e+09,3.394764e+09,4.213738e+09,5.231785e+09,6.427149e+09,7.670981e+09,2.317632e+09,1.030278e+09,1.102231e+09,6.979864e+08,1.409680e+09,1.326733e+09,1.634381e+09,2.436198e+09,1.905636e+09,2.597010e+09,2.370875e+09,2.571369e+09,2.601595e+09,5.323659e+09,5.109802e+09,1.226960e+10,1.240066e+10,1.096554e+10,8.855053e+09,2.465257e+09,1.288007e+09,1.928381e+09,1.993048e+09,1.682824e+09,1.621514e+09,1.551309e+09,1.364546e+09,1.295024e+09,1.230534e+09
3796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,3.020400e+07,3.584000e+07,5.535200e+07,2.308534e+07,6.159812e+07,2.961728e+07,2.960043e+07,6.084178e+07,7.985513e+07,5.127242e+07,5.120598e+07,6.659329e+07,7.335487e+07,6.860644e+07,6.496958e+07,5.891855e+07,6.828190e+07,3.583776e+07,8.125136e+07,3.855278e+07,1.058686e+07,7.060188e+06,5.943856e+07,8.135504e+06,2.423472e+06,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3079000.0,8807603.7,9317159.3,7.875000e+06,1.635700e+07,2.990910e+08,6.562000e+06,6.800920e+08,6.904050e+08,5.539580e+08,4.742300e+07,5.100200e+08,4.454850e+08,8.500000e+08,1.381765e+09,1.973261e+09,2.347000e+08,2.766304e+08,5.338477e+08,7.003602e+08,9.207269e+08,3.884975e+07,6.673863e+08,1.065786e+09,1.157276e+09,4.041590e+09,1.751761e+09,5.762171e+09,4.997380e+09,3.757796e+09,3.029032e+09,1.777775e+09,3.829630e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.443530e+09,5.423510e+09,-2.383763e+08,2.776276e+08,-5.777082e+08,-2.246921e+09,-5.150162e+09,-5.095041e+09,-3.232893e+09,-4.192816e+09,-2.708463e+09,-3.554898e+09,-3.896838e+09,-3.791935e+09,-3.136733e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155702977.1,202186222.0,238105616.7,2.586495e+08,2.625128e+08,2.909802e+08,3.228424e+08,3.072201e+08,2.647403e+08,3.191752e+08,2.925465e+08,2.813681e+08,2.745897e+08,2.950173e+08,3.270333e+08,7.027991e+07,7.205255e+07,4.994658e+07,2.803859e+07,2.108586e+07,1.483108e+07,8.203101e+06,3.297523e+06,3.074000e+06,2.888000e+06,2.701000e+06,2.608000e+06,2.422000e+06,2.235680e+06,1.956000e+06,1.863000e+06,1.676000e+06,1.490000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4507,NaN,NaN,2265000.0,56772000.0,75665000.0,108217000.0,128561000.0,112899000.0,139354000.0,225800000.0,275231000.0,264263000.0,280899000.0,265785000.0,352404000.0,431209000.0,519024000.0,468603000.0,526951000.0,594361000.0,748607000.0,478576000.0,5.843220e+08,4.787700e+08,7.271740e+08,3.898070e+08,5.316150e+08,3.961990e+08,5.001970e+08,5.621860e+08,4.817360e+08,3.609200e+08,3.099000e+08,5.166970e+08,5.230640e+08,5.237310e+08,4.137970e+08,6.244140e+08,1.016532e+09,9.520310e+08,3.516990e+08,2.904500e+08,8.050930e+08,5.719690e+08,7.185610e+08,1.022329e+09,1.389604e+09,1.579786e+09,1.954202e+09,2.357389e+09,2.549378e+09,2.952772e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
num = num.fillna(0)

In [50]:
num.head()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
num.tail()

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
5827,3024979.3,3851380.7,2346085.7,32619984.2,4459365.4,5967713.9,15451484.3,19657009.5,9497901.8,16325690.2,26140119.4,4859579.2,43556047.2,13592333.2,2495824.4,5906258.8,16393211.3,7826459.8,11035718.6,61757180.5,16032039.8,10990717.9,7078763.4,9089809.5,4006874.9,10239261.3,20899049.9,5538088.6,15445796.3,379307.2,10626314.2,6608717.3,4589189.4,1776005.0,20295611.6,4235135.0,62805539.9,18954881.9,5155158.7,22233825.9,16073782.8,16662234.1,30676662.5,39709946.7,102487948.6,87494900.3,31762401.2,57567402.2,60354119.8,14138040.8,72251529.5,135994911.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5828,26359353.1,31132671.6,23341547.3,56763767.2,63667586.0,64850790.1,77821892.4,100194031.0,104523616.0,110537675.3,132170564.1,120355523.7,154250337.2,155461730.2,133480483.9,141448009.0,158285410.1,178095081.9,181403646.6,406707431.7,414272830.5,379901331.8,433087157.7,431186951.2,440859667.0,368143070.8,298192859.1,279909217.6,294334349.5,274318835.2,264126384.0,280761414.3,301606466.3,70236914.4,72905064.5,97880792.4,136332103.3,158559960.1,163583792.4,163236179.4,175046188.7,190658983.0,204163419.9,212922687.7,300937548.7,356821681.0,353043861.8,419882733.5,451577723.3,439136363.4,527888773.8,608922942.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5829,170532.2,337260.3,246497.3,70498.4,267052.0,127070.7,315203.0,284348.8,428521.8,409823.4,372391.8,619590.6,1425640.0,1871236.6,878019.4,1386756.0,1343402.2,1368515.2,1415498.8,0.0,164769.1,1543446.4,1307955.9,2652642.1,10207130.7,11973590.9,6143288.3,6984770.6,10463953.0,9527069.9,4504189.8,5666154.5,8823815.1,385378.5,648224.2,690745.0,685398.7,868724.6,1105142.0,1853458.4,1940623.9,2117277.2,3385193.3,3615939.4,3830477.8,4313635.1,4537379.9,5276387.6,6526023.2,7506684.3,24901985.7,8287896.5,12626493.2,17203375.6,19967508.7,20545882.5,19543497.5,17896648.9,16007198.0,13984650.9
5830,2556747.3,3345453.7,1621841.4,32574475.8,2842302.5,3840790.6,14093597.7,18583774.2,8472290.7,15620178.0,25410175.6,2656637.1,42779064.4,10798752.5,1154406.1,4209961.7,14270993.9,4843310.3,9724609.3,61757180.5,16032039.8,8276980.8,6301569.9,8123873.2,-1043344.5,4273068.3,13015349.0,-2057807.3,6166189.4,-12828011.3,-14600524.2,963411.3,-3686919.3,661883.2,17907111.4,3272772.9,56836089.5,16904564.4,1978556.9,8583702.8,12097926.0,12217944.7,13474898.9,5258940.0,90583530.8,71589342.5,13291004.0,47910774.7,48675370.0,-6235061.5,60904293.9,81004169.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5831,2386000.0,3008000.0,1375000.0,32504000.0,2575000.0,3714000.0,13778000.0,18299000.0,8044000.0,15210000.0,25038000.0,2037000.0,41353000.0,8928000.0,276000.0,2823000.0,12928000.0,3475000.0,8309000.0,61757000.0,15867000.0,6734000.0,4994000.0,5471000.0,-11250000.0,-7701000.0,6872000.0,-9043000.0,-4298000.0,-22355000.0,-19105000.0,-4703000.0,-12511000.0,277000.0,17259000.0,2582000.0,56151000.0,16036000.0,873000.0,6730000.0,10157000.0,10101000.0,10090000.0,1643000.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
num.sample(10)

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
2697,138753930.4,136807277.1,155671831.5,188466778.3,234520610.6,253463034.5,309846242.6,319857058.1,600854352.1,587383283.5,769770822.1,732873958.7,679429919.0,601803176.5,238628891.1,464907575.5,711945599.2,293999292.1,312809583.1,2.894054e+08,3.032786e+08,4.187345e+08,2.798736e+08,3.729182e+08,4.313529e+08,4.016204e+08,1.149826e+09,1.188720e+09,299124157.3,290533827.6,227657250.2,220719019.9,137012238.0,99960000.0,112361000.0,107806000.0,111336007.7,1.179070e+08,1.269426e+08,2.235020e+08,2.529790e+08,2.482250e+08,181219000.0,1.819371e+08,1.746146e+08,3.875812e+08,2.571198e+08,9.775588e+07,88943000.0,86626000.0,244066000.0,137346000.0,7935466.7,7935466.7,7855066.7,0.0,0.0,0.0,0.0,0.0
1673,45125965.4,99761263.5,122868747.5,218844957.7,268120229.5,176089074.7,180701013.9,598319577.2,695998893.7,828840764.6,566076129.8,479855316.5,548895587.5,774328397.4,818749919.1,562426106.6,639206834.7,516479792.6,789201174.9,1.200814e+09,1.832317e+09,1.720253e+09,1.431335e+09,1.165667e+09,1.520745e+09,1.596309e+09,1.587054e+09,1.200875e+09,716346865.0,749245637.4,798834780.0,554885234.3,819536449.5,757098084.6,911025967.5,434078478.2,223367313.6,1.541151e+08,1.864220e+08,1.001170e+08,3.881193e+07,3.084668e+07,28378146.3,2.197704e+07,3.907220e+06,3.000000e+03,9.835317e+08,5.885894e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.240435e+08,1.728037e+08,1.311057e+08,7.881782e+07,1.946057e+08,222671564.8,104981552.4,73762723.3,117849324.1,14560414.8,45239123.8,116238398.3,251336055.9,64816890.5,2.025986e+08,2.014954e+08,8.983808e+08,2.524921e+08,3.675842e+08,295364515.9,1.055710e+09,7.444213e+08,1.728630e+09,5.791012e+08,2.781325e+08,109137000.0,727256002.5,20000000.0,7400000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5466,0.0,0.0,145000.0,140000.0,135000.0,130000.0,2106760.0,1954789.9,5453227.3,9740551.3,10186085.2,10228263.5,9913719.2,9794276.8,10061975.3,15077259.9,16868390.4,23831433.7,28043549.4,2.837685e+07,2.442848e+07,2.482435e+07,2.202374e+07,2.034630e+07,2.001540e+07,1.859405e+07,1.781767e+07,1.561728e+07,14268290.7,12391967.2,9925494.7,8261422.0,7638250.4,6720721.1,5388659.5,3986665.2,9673327.0,1.385213e+07,1.912000e+07,2.047800e+07,1.992805e+07,1.912000e+07,18216986.0,8.867438e+07,1.457690e+08,1.866350e+08,2.029510e+08,2.098070e+08,214724000.0,214848000.0,214860000.0,214860000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4734,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.119862e+08,9.484879e+07,4.316140e+07,3.919083e+07,4.279349e+07,86654914.5,-22224177.8,-21789311.0,-25241356.0,22440746.8,-37541399.7,97030203.1,100289152.6,-46913537.8,1.428987e+09,1.428540e+09,1.155348e+09,1.476269e+09,1.551803e+09,-431695670.1,1.671063e+09,2.434252e+09,1.246714e+09,1.041855e+09,1.609769e+09,568610888.0,-10264455.6,138095143.3,-422428867.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4756,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.788711e+07,0.000000e+00,1.822202e+08,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,2.825192e+09,6.682501e+08,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4382,0.0,0.0,605000.0,175000.0,1279000.0,77000.0,1684000.0,2274000.0,15178000.0,9838000.0,10702000.0,15770000.0,17282000.0,46288000.0,28045000.0,-4738000.0,54356000.0,2685000.0,-21145000.0,-2.926600e+07,3.530700e+07,3.707200e+07,-1.584300e+07,-7.185000e+06,-2.780300e+07,-1.746700e+07,-2.418200e+07,-1.681900e+07,-19818000.0,-19035000.0,30689000.0,37150000.0,-6138000.0,-14162000.0,-24043000.0,-11139000.0,-18372000.0,-1.173400e+07,-1.479800e+07,-9.512000e+06,-4.417000e+06,-4.625000e+06,-1964000.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2216,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,4.666700e+07,7.000000e+07,7.000000e+07,2.126800e+08,2.125030e+08,311882000.0,521023000.0,705243000.0,705102000.0,704998000.0,704998000.0,704998000.0,704998000.0,562498000.0,562498000.0,418124000.0,418124000.0
3076,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.060000e+05,1.017000e+06,3.351000e+06,5.448000e+06,9.280000e+05,-169000.0,-380000.0,-392000.0,-419000.0,-445000.0,-513000.0,-586000.0,-646000.0,-663000.0,-7.420000e+05,-8.550000e+05,4.856500e+07,5.236000e+07,4.494400e+07,85108000.0,7.504200e+07,1.000210e+08,1.000440e+08,1.324140e+08,3.288200e+07,49117000.0,84820000.0,18777000.0,32303000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
data['total'] = num.sum(axis=1)

<ipython-input-53-6701a6d2f639>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['total'] = num.sum(axis=1)

In [54]:
data.head()

,Country Name,Country Code,Series Name,Series Code,total
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG,103.6971
1,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.OFFT,103.6971
2,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.PRVT,0.0000
3,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.DPPG,392.1329
4,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.OFFT,392.1329

In [55]:
data.tail()

,Country Name,Country Code,Series Name,Series Code,total
5827,Benin,BEN,"GG, bilateral (DIS, current US$)",DT.DIS.BLAT.GG.CD,1.228918e+09
5828,Benin,BEN,"GG, bilateral (DOD, current US$)",DT.DOD.BLAT.GG.CD,1.198529e+10
5829,Benin,BEN,"GG, bilateral (INT, current US$)",DT.INT.BLAT.GG.CD,3.135525e+08
5830,Benin,BEN,"GG, bilateral (NFL, current US$)",DT.NFL.BLAT.GG.CD,8.670102e+08
5831,Benin,BEN,"GG, bilateral (NTR, current US$)",DT.NTR.BLAT.GG.CD,3.486880e+08

In [56]:
data.sample(10)

,Country Name,Country Code,Series Name,Series Code,total
5093,Belarus,BLR,"PS, other private creditors (AMT, current US$)",DT.AMT.PROP.PS.CD,7.694270e+08
3117,Armenia,ARM,"OPS, bonds (AMT, current US$)",DT.AMT.PBND.OPS.CD,0.000000e+00
3772,Azerbaijan,AZE,"PPG, commercial banks (DIS, current US$)",DT.DIS.PCBK.CD,6.402512e+09
3533,Azerbaijan,AZE,"External debt stocks (% of exports of goods, s...",DT.DOD.DECT.EX.ZS,1.336377e+03
3307,Armenia,ARM,"PRVG, multilateral (NTR, current US$)",DT.NTR.MLAT.PRVG.CD,0.000000e+00
4410,Bangladesh,BGD,"Principal rescheduled, official (current US$)",DT.AXR.OFFT.CD,1.690501e+06
1885,Angola,AGO,"GG, official creditors (AMT, current US$)",DT.AMT.OFFT.GG.CD,2.462863e+10
2990,Armenia,ARM,"GG, bilateral concessional (DOD, current US$)",DT.DOD.BLTC.GG.CD,6.585253e+09
3558,Azerbaijan,AZE,"GG, bilateral concessional (DIS, current US$)",DT.DIS.BLTC.GG.CD,5.181181e+08
3921,Azerbaijan,AZE,"PS, bonds (DIS, current US$)",DT.DIS.PBND.PS.CD,4.250000e+09

In [57]:
data['total'] = data['total'].apply(lambda x: '{:,.0f}'.format(x))

<ipython-input-57-fd3db9794f88>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['total'] = data['total'].apply(lambda x: '{:,.0f}'.format(x))

In [58]:
data.head()

,Country Name,Country Code,Series Name,Series Code,total
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG,104
1,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.OFFT,104
2,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.PRVT,0
3,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.DPPG,392
4,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.OFFT,392

In [59]:
data.tail()

,Country Name,Country Code,Series Name,Series Code,total
5827,Benin,BEN,"GG, bilateral (DIS, current US$)",DT.DIS.BLAT.GG.CD,"1,228,918,295"
5828,Benin,BEN,"GG, bilateral (DOD, current US$)",DT.DOD.BLAT.GG.CD,"11,985,289,397"
5829,Benin,BEN,"GG, bilateral (INT, current US$)",DT.INT.BLAT.GG.CD,"313,552,465"
5830,Benin,BEN,"GG, bilateral (NFL, current US$)",DT.NFL.BLAT.GG.CD,"867,010,233"
5831,Benin,BEN,"GG, bilateral (NTR, current US$)",DT.NTR.BLAT.GG.CD,"348,688,008"

In [60]:
data.sample(10)

,Country Name,Country Code,Series Name,Series Code,total
3849,Azerbaijan,AZE,"PRVG, bilateral (TDS, current US$)",DT.TDS.BLAT.PRVG.CD,0
915,Albania,ALB,"PPG, bilateral concessional (INT, current US$)",DT.INT.BLTC.CD,"70,817,643"
4681,Belarus,BLR,"External debt stocks, private nonguaranteed (P...",DT.DOD.DPNG.CD,"112,241,879,708"
3651,Azerbaijan,AZE,"Net financial flows, RDB concessional (NFL, cu...",DT.NFL.RDBC.CD,"25,124,833"
2570,Argentina,ARG,"OPS, multilateral concessional (DIS, current US$)",DT.DIS.MLTC.OPS.CD,"320,048,621"
2776,Argentina,ARG,"PS, bilateral concessional (DIS, current US$)",DT.DIS.BLTC.PS.CD,"252,398,163"
1951,Angola,AGO,"Net flows on external debt, private nonguarant...",DT.NFL.DPNG.CD,"5,301,709,000"
1921,Angola,AGO,"Interest payments on external debt, central ba...",DT.INT.DECB.CD,"280,884,023"
2485,Argentina,ARG,"Interest arrears, official creditors (current ...",DT.IXA.OFFT.CD,"9,752,101,618"
5039,Belarus,BLR,"PRVG, private creditors (DOD, current US$)",DT.DOD.PRVT.PRVG.CD,0

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5832 entries, 0 to 5831
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  5832 non-null   object
 1   Country Code  5832 non-null   object
 2   Series Name   5832 non-null   object
 3   Series Code   5832 non-null   object
 4   total         5832 non-null   object
dtypes: object(5)
memory usage: 227.9+ KB

In [62]:
data['total'] = data['total'].str.replace(',','').astype('float64')

<ipython-input-62-601be5c5e4e8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['total'] = data['total'].str.replace(',','').astype('float64')

In [63]:
data.head()

,Country Name,Country Code,Series Name,Series Code,total
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG,104.0
1,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.OFFT,104.0
2,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.PRVT,0.0
3,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.DPPG,392.0
4,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.OFFT,392.0

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5832 entries, 0 to 5831
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  5832 non-null   object
 1   Country Code  5832 non-null   object
 2   Series Name   5832 non-null   object
 3   Series Code   5832 non-null   object
 4   total         5832 non-null   float64
dtypes: float64(1), object(4)
memory usage: 227.9+ KB

In [65]:
data.rename(columns={'Country Name':'country_name', 'Country Code':'country_code', 'Series Name':'indicator_name', 'Series Code':'indicator_code', 'total':'debt'}, inplace=True)

<ipython-input-65-530c7a59dfaf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'Country Name':'country_name', 'Country Code':'country_code', 'Series Name':'indicator_name', 'Series Code':'indicator_code', 'total':'debt'}, inplace=True)

In [66]:
data.head()

,country_name,country_code,indicator_name,indicator_code,debt
0,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.DPPG,104.0
1,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.OFFT,104.0
2,Afghanistan,AFG,Average grace period on new external debt comm...,DT.GPA.PRVT,0.0
3,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.DPPG,392.0
4,Afghanistan,AFG,Average grant element on new external debt com...,DT.GRE.OFFT,392.0

In [67]:
data.to_csv('cleaned_dataset.csv')